<a href="https://colab.research.google.com/github/GUILLENJV/Proyecto-_Veh-culos/blob/master/03_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Import Libraries*

In [ ]:
import pandas as pd
import numpy as np
import string
import warnings

In [ ]:
warnings.filterwarnings("ignore")

### *Load Data*

In [ ]:
df = pd.read_csv("C:/Users/PC/Desktop/Car-Sales/data/cars_sales_clear.csv")

In [ ]:
df.shape

(86168, 8)

### *One Hot Encoding*

<img src = "https://www.statology.org/wp-content/uploads/2021/09/oneHot1.png">

Consiste en crear varias variables ficticias, según el número de categorías de la variable a transformar.Consiste en crear varias variables ficticias, según el número de categorías de la variable a transformar. Si la observación cumple con la categoría, se le asignará un 1 y las demás columnas se rellenarán con un 0.

In [ ]:
def OHE():

    manufacturer_ohe = pd.get_dummies(df.manufacturer)
    model_ohe = pd.get_dummies(df.model)
    transmission_ohe = pd.get_dummies(df.transmission)
    fuelType_ohe = pd.get_dummies(df.fuelType)


    return manufacturer_ohe,model_ohe,transmission_ohe,fuelType_ohe

In [ ]:
def concatene_df():

    manufacturer_ohe,model_ohe,transmission_ohe,fuelType_ohe = OHE()

    new_df = pd.concat([manufacturer_ohe,model_ohe,transmission_ohe,df.year,
                        fuelType_ohe,df.engineSize,
                        df.mileage,df.price],axis = 'columns')
    return new_df

In [ ]:
df_ohe = concatene_df()

## *Remove White Spaces*

In [ ]:
columns = df_ohe.columns

In [ ]:
columns

Index(['Audi', 'BMW', 'Ford', 'Hyundi', 'Mercedes-Benz', 'Skoda', 'Toyota',
       'Vauxhall', 'Volkswagen', ' 1 Series',
       ...
       'Manual', 'Semi-Auto', 'year', 'Diesel', 'Electric', 'Hybrid', 'Petrol',
       'engineSize', 'mileage', 'price'],
      dtype='object', length=173)

Algunas variables tienen espacios en blanco, por lo cual eliminaré estos espacios, ya que al generar nuevas predicciones puede resultar incómodo ingresar los datos.

In [ ]:
 remove_spaces_columns = [column.strip(' ') for column in columns]

In [ ]:
remove_spaces_columns

['Audi',
 'BMW',
 'Ford',
 'Hyundi',
 'Mercedes-Benz',
 'Skoda',
 'Toyota',
 'Vauxhall',
 'Volkswagen',
 '1 Series',
 '2 Series',
 '3 Series',
 '4 Series',
 '5 Series',
 '6 Series',
 '7 Series',
 '8 Series',
 'A Class',
 'A1',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'Adam',
 'Agila',
 'Amarok',
 'Antara',
 'Arteon',
 'Astra',
 'Auris',
 'Avensis',
 'Aygo',
 'B Class',
 'B-MAX',
 'Beetle',
 'C Class',
 'C-HR',
 'C-MAX',
 'CC',
 'CL Class',
 'CLA Class',
 'CLS Class',
 'Caddy Maxi Life',
 'California',
 'Camry',
 'Caravelle',
 'Citigo',
 'Combo Life',
 'Corolla',
 'Corsa',
 'Crossland X',
 'E Class',
 'EcoSport',
 'Edge',
 'Fabia',
 'Fiesta',
 'Focus',
 'Fusion',
 'GL Class',
 'GLA Class',
 'GLC Class',
 'GLE Class',
 'GLS Class',
 'GT86',
 'GTC',
 'Galaxy',
 'Golf',
 'Golf SV',
 'Grand C-MAX',
 'Grand Tourneo Connect',
 'Grandland X',
 'Hilux',
 'I10',
 'I20',
 'I30',
 'I40',
 'I800',
 'IX20',
 'IX35',
 'Insignia',
 'Ioniq',
 'Jetta',
 'KA',
 'Ka+',
 'Kamiq',
 'Karoq',
 'Kodiaq',
 'Kona',
 'Kuga',
 'Land Cruiser',
 'M Class',
 'M2',
 'M3',
 'M4',
 'M5',
 'Meriva',
 'Mokka',
 'Mokka X',
 'Mondeo',
 'Mustang',
 'Octavia',
 'Passat',
 'Polo',
 'Prius',
 'Puma',
 'Q2',
 'Q3',
 'Q5',
 'Q7',
 'Q8',
 'R8',
 'RAV4',
 'RS3',
 'RS4',
 'RS5',
 'RS6',
 'Rapid',
 'Roomster',
 'S Class',
 'S-MAX',
 'S3',
 'SL CLASS',
 'SLK',
 'SQ5',
 'Santa Fe',
 'Scala',
 'Scirocco',
 'Sharan',
 'Shuttle',
 'Superb',
 'T-Cross',
 'T-Roc',
 'TT',
 'Tiguan',
 'Tiguan Allspace',
 'Touareg',
 'Touran',
 'Tourneo Connect',
 'Tourneo Custom',
 'Tucson',
 'Up',
 'V Class',
 'Verso',
 'Viva',
 'Vivaro',
 'X-CLASS',
 'X1',
 'X2',
 'X3',
 'X4',
 'X5',
 'X6',
 'Yaris',
 'Yeti',
 'Yeti Outdoor',
 'Z4',
 'Zafira',
 'Zafira Tourer',
 'i3',
 'i8',
 'Automatic',
 'Manual',
 'Semi-Auto',
 'year',
 'Diesel',
 'Electric',
 'Hybrid',
 'Petrol',
 'engineSize',
 'mileage',
 'price']

In [ ]:
df_ohe.columns = remove_spaces_columns

In [ ]:
df_ohe.columns[:10]

Index(['Audi', 'BMW', 'Ford', 'Hyundi', 'Mercedes-Benz', 'Skoda', 'Toyota',
       'Vauxhall', 'Volkswagen', '1 Series'],
      dtype='object')

## **Save CSV File**

In [ ]:
df_ohe.to_csv("C:/Users/PC/Desktop/Car-Sales/data/cars_sales_ohe.csv",
               index = False)